.anchor {
    display: inline-block;
    color: cyan;
    background-color: red;
    text-decoration: none;
    padding: 3px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.anchor:hover {
    color: red;
    background-color: cyan;
    text-decoration: none;
}

#saint-img {
    border-radius: 20px;
    border-width: 5px;
    border-style: solid;
    border-color: blue;
    padding: 10px;

    text-align: center;

    position: relative;
    float: right;
}